.retweet-count {
  position: relative;
  bottom: 2px;
  font-size: 13px;
  margin-left: 6px;
  font-weight: bold;
}
.retweet-button {
  width: 80px;
  display: inline-block;
}
.retweet-button i {
  display: inline;
}
